*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
*.project
*.DS_Store
*__MACOSX
*/bin
*.settings
*.classpath
/bin/
build/build/
build/deploy/
build/dist/
build/externalLibs/
build/project/
build/projectRefs/
*build.fxbuild